<% provide(:title, 'Iniciar Sesión') %>

<h1>Iniciar Sesión</h1>

<%= form_for(:session, url: sessions_path) do |f| %>

	<div class="form-group"><%= f.text_field :email, placeholder: 'Nombre de usuario/email', class: 'form-control', style: '' %></div>

	<div class="form-group"><%= f.password_field :password, placeholder: 'Contraseña', class: 'form-control', style: '' %></div>

	<%= f.submit "Iniciar Sesion", class: "btn btn-large btn-info" %>
<% end %>
