<% provide(:title, 'Bienvenidos') %>

<div class="row" style="padding:20px;">
	<div class="col-md-6 dark" id="home-left"> <!-- left !-->
		<h2>Bienvenidos</h2>
	  <div class="media">
	    <%= link_to(image_tag("bomb.png", :height => "64", :width => "64"), "#", {:class=>"pull-left"}) %>
	    </a>
	    <div class="media-body">
	      <h3 class="media-heading">Aprende</h3>
	      Podrás buscar apuntes de otros estudiantes.
	    </div>
	  </div>
	  <div class="media">
	      <%= link_to(image_tag("mascotacolor.png", :style => "margin:0 10px 0 20px;", :height => "64", :width => "35"), "#", {:class=>"pull-left"}) %>
	    <div class="media-body">
	      <h3 class="media-heading">Enseña</h3>
	      Registrate y sube tus propios apuntes.
	    </div>
	  </div>
	  <div class="media">
	    <%= link_to(image_tag("red.png", :height => "64", :width => "64"), "#", {:class=>"pull-left"}) %>
	    <div class="media-body">
	      <h3 class="media-heading">Comparte</h3>
	      En las redes sociales.
	    </div>
	  </div>
	</div>

	<div class="col-md-6 dark" id="home-right"> <!-- right !-->
			<h1>Únete</h1>
			<%= form_tag '/users/new' do %>
			
      <div class="form-group"><%= text_field_tag 'username', nil, placeholder: "Elige un nombre de usuario", class: "form-control" %></div>

      <div class="form-group"><%= email_field_tag 'email', nil, placeholder: "pepito@ejemplo.com", class: "form-control" %>
				<p class="help-block" style="color:#dfdfdf;">Recuerda: tienes que usar un email válido.</p>
      </div>

      <div class="form-group"><%= password_field_tag 'password', nil, placeholder: "Elige tu contraseña", class: "form-control" %>
      	<p class="help-block" style="color:#dfdfdf;">Mínimo 6 caractéres, al menos una mayúscula y un número.</p>
      </div>

      <%= submit_tag "Enviar", class: "btn btn-large btn-primary" %>
      
    <% end %>
	</div>
</div>