<% provide(:title, 'Únete') %>
  <h1 class="dark">Únete</h1>
  <div class="col-md-6 dark" id="form">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

      <div class="form-group">
      <%= f.label 'Sobre ti' %>
      <%= f.text_field :name, placeholder: 'Nombre', class: 'form-control', style: 'width:30%' %>
      </div>
      <div class="form-group">
      <%= f.text_field :surname, placeholder: 'Apellidos', class: 'form-control', style: 'width:50%' %>
      </div>
      <div class="form-group">
      <%= f.text_field :studies, placeholder: 'Dinos qué estudias o has estudiado (Opcional)', class: 'form-control', style: 'width:60%' %>
      </div>
      <div class="form-group">
      <%= f.radio_button :gender, 'H' %>
      <%= f.label 'Hombre' %>
      <%= f.radio_button :gender, 'M' %>
      <%= f.label 'Mujer' %>
      </div>

      <div class="form-group">
      <%= f.date_field :birth, class: 'form-control', style: 'width:30%' %>
      <p class="help-block" style="color:#dfdfdf;">Recuerda: tienes que tener mas de 16 años.</p>
      </div>
      
      <div class="form-group">
      <%= f.label 'Para la web' %>
      <%= f.text_field :username, placeholder: 'Elige un nombre de usuario', value: @username, class: 'form-control', style: 'width:50%' %>
      </div>
      <div class="form-group">
      <%= f.email_field :email, placeholder: 'pepito@example.com', value: @email, class: 'form-control', style: 'width:50%' %>
      </div>
      <div class="form-group">
      <%= f.password_field :password, placeholder: 'Elige tu contraseña', value: @password, class: 'form-control', style: 'width:50%' %>
      </div>
      <div class="form-group">
      <%= f.password_field :password_confirmation, placeholder: 'Confirma tu contraseña', class: 'form-control', style: 'width:50%' %>
      </div>

      <div class="form-group">
        <%= check_box_tag :acepto %>
        He leído y acepto las <%= link_to 'Política de Privacidad', static_pages_policy_path %> y <%= link_to 'Términos de Uso', static_pages_cond_path %>
      </div>
    
      <%= f.submit "Enviar", class: "btn btn-large btn-info" %>
    <% end %>
  </div>
  
  <div class="col-md-6" id="intro">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">¿Cómo funciona PassItEDU?</h2>
      </div>
      <div class="panel-body" style="width:550px;">
        <%= image_tag 'mascotacolor.png', height: '100' , width: '55', align: 'left', style: 'margin-right:10px;' %>

        <p>
          Bienvenido! yo soy Edu y te voy a contar como funciona la web.
          <h4>¿Que puedo hacer?</h4>
          Una vez que te registres en la web, podrás <b>subir tus apuntes</b> a la web de la forma que tu prefieres, ya sea en formato de <b>texto</b>, un <b>PDF</b>, o una <b>imagen escaneada</b>.
          <h4>¿Por qué 'era social'?</h4>
          Claro! Ahora en PassitEDU podrás <b>seguir</b> a otros usuarios para enterarte cuando suben apuntes nuevos, incluso <b>puntuarlos</b> y mandar comentarios o mensajes privados para ponerte en contacto con ellos.
          <br></br>
          Quiero que <b>compartir tus apuntes</b> sea ahora más fácil que nunca. Pero siempre podrás elegir si un <b>invitado</b> puede ver tus apuntes, o tiene que unirse a nosotros!
          <h4>¿Pero a qué precio?</h4>
          <b>Totalmente gratis</b>! Veras publicidad que nos ayuda a mantener el sitio activo, pero trataré que sea lo menos molesta para que tu experiencia sea lo mas comoda posible.
        </p>
        <hr style="width:100px;">
        <%= image_tag 'gomalapiz.png', height: '100' , width: '100', style: 'display: block;margin:-10px auto 0 auto;' %>
      </div>
    </div>
  </div>
