<% provide(:title, @user.username) %>

<div class="row">
	<div class="page-header dark" style="margin-top:-20px;">
		<h1>Adrián González <!-- TODO @user.name !--> <small><%=@user.username %></small></h1>
	</div>
      
  <div id="avatar" class="col-md-3">
    <%= gravatar_for @user, 250 %> 
    <div class="panel panel-default" style="width:250px;"> <!-- sobre el usuario !-->
      <div class="panel-body">
        <p class="lead apuntes">Soy un chico alto guapo, y sexy. Es lo que hay, no puedo decir más.</p>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">14</span>
          Seguidores
        </li>
        <li class="list-group-item">
          <span class="badge">5</span>
          Siguiendo
        </li>
        <li class="list-group-item">
          <span class="badge">1</span>
          Favs
        </li>
      </ul>
    </div>
    <div class="panel panel-default" style="width:250px;">
      <div class="panel-heading">Categorías</div>
      <table class="table">
        <tr><td>Mates</td></tr>
        <tr><td>..</td></tr>
      </table>
    </div>
  </div>

  <div id="main" class="col-md-9">
    <div class="row well well-sm"> <!-- ultimos apuntes y buascar !-->
      <h4 class="col-md-6">Últimos apuntes</h4>
      <input type="search" class="form-control pull-right col-md-6" style="width:40%" placeholder="Buscar en soutoner">
    </div>
    <div class="row" id="ultimos-apuntes"> <!-- aqui dentro van los bloques e apuntes !-->

      <div class="col-md-4"> <!-- este div delimita cada bloque de apuntes !-->
        <div class="panel panel-default" >
          <div class="panel-heading">Matemáticas</div>
          <div class="panel-body">
            <p>Pequeña descripcion de la categoría.</p>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Tabla trigonometrica</li>
            <li class="list-group-item">Los siete mandamientos</li>
            <li class="list-group-item">Acandemor</li>
            <li class="list-group-item">Caballito blanco</li>
            <li class="list-group-item">Caballito negro</li>
          </ul>
        </div>
      </div>

      <div class="col-md-4"> <!-- este div delimita cada bloque de apuntes !-->
        <div class="panel panel-default" >
          <div class="panel-heading">Programación</div>
          <div class="panel-body">
            <p>Pequeña descripcion de la categoría.</p>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Tabla trigonometrica</li>
            <li class="list-group-item">Los siete mandamientos</li>
            <li class="list-group-item">Caballito blanco</li>
            <li class="list-group-item">Caballito negro</li>
          </ul>
        </div>
      </div>

    <div class="col-md-4"> <!-- este div delimita cada bloque de apuntes !-->
        <div class="panel panel-default" >
          <div class="panel-heading">Algo más</div>
          <div class="panel-body">
            <p>Pequeña descripcion de la categoría.</p>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Tabla trigonometrica</li>
            <li class="list-group-item">Los siete mandamientos</li>
            <li class="list-group-item">Acandemor</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="row well well-sm"><h4>Actividad</h4></div>

    <div class="panel panel-default" id="actividad">
      <table class="table">
        <tr><td>Aqui va la actividad de los chavales</td></tr>
        <tr><td>Mas o menos</td></tr>
      </table> 
    </div>

  </div>
</div>