<% if @user.errors.any? %>
    <div class="alert alert-warning alert-dismissible" role="alert" style="margin-top:20px;">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      El formulario contiene <%= pluralize(@user.errors.count, "error") %>.
		    <ul>
		    <% @user.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
    </div>
<% end %>