$navbar-default-bg:#c4e6ff; /* changes bg color of the nav*/

@import "bootstrap";

body { padding-top: 50px; /*needed because of the nav*/ font-family: 'Roboto', sans-serif; background:  #547390; } 

#footer{	width:600px; } /* para que este centrado hay que definir width en px */

.container .row{ margin:20px; }

/* HELPER CLASSES */
.apuntes{	font-family: 'Lora', serif; } /* Texto con serif */

.dark{
	
	color: white; 
 	h1 small { color:#eee; }
	a{ color: #b3d0e9;}
	a:hover{ color: black; }
}

/* miscellaneous */

/* debug */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* --- */