<% flash.each do |key, value| %>
  <div class="alert alert-warning alert-dismissible" role="alert" style="margin-top:20px;">
  	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= value %>
  </div>
<% end %>