<footer>
  <div class="dark center-block" id="footer"> <!-- footer !-->
    <ul class="nav navbar-nav"> <!-- menu derecha !-->
        <li><%= link_to("Sobre Nosotros", static_pages_about_path) %></li>
        <li><%= link_to("Contacto", static_pages_contact_path) %></li>
        <li><%= link_to("Políticas de Privacidad", static_pages_policy_path) %></li>
        <li><%= link_to("Condiciones de Uso", static_pages_cond_path) %></li>
    </ul>      
  </div>
</footer>