<header>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- requiere padding en el body !-->
  <div class="container">
    <%= link_to("PassItEDU", "/", {:class=>"navbar-brand"}) %><!-- marca !-->
    <form class="navbar-form navbar-left" role="search">
      <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Buscar</button>
        </span>
      </div><!-- /input-group -->
    </form>
    <ul class="nav navbar-nav navbar-right"> <!-- menu derecha !-->
    
      <% if signed_in? %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= current_user.name %> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Timeline", '#' %></li>
            <li><%= link_to "Mi Perfil", current_user %></li>
            <li><%= link_to "Opciones", '#' %></li>
            <li class="divider"></li>
            <li><%= link_to "Salir", salir_path, method: "delete" %></li>
          </ul>
        </li>
      <% else %>
        <div class="navbar-form navbar-right">
          <%= form_for(:session, url: sessions_path) do |f| %>
            <div class="input-group" id="formLogin">
              <%= f.text_field :login, placeholder: 'Nombre de usuario/email', class: 'form-control', style: 'width:210px;margin-right:20px;' %>
              <%= f.password_field :pass, placeholder: 'Contraseña', class: 'form-control', style: 'width:210px;margin-right:20px;' %>
              <%= f.button 'Iniciar Sesión', class: 'btn btn-large btn-info' %>
            </div>
          <% end %>
        </div>
      <% end %>
   
    </ul>
  </div>
</nav>
</header>