<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic'%>